.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn{
  box-shadow: 2px 2px 2px #a4a4a4;
}

.badge{
  box-shadow: 2px 2px 2px #8b8b8b;
  border: 1px solid #ffffff;
}

.col-2{
  box-shadow: 2px 2px 2px #d2d2d2;
  border: 2px solid rgb(54, 134, 254);
  text-align: left;
  border-radius: 5px;
}
